/vendor
/node_modules
/storage
/bootstrap/cache
.env
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store
.phpunit.result.cache
/vendor/
/node_modules/
.env
.env.*
!/storage/.*
/storage/*.key
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/logs/*
/public/storage
.DS_Store
Thumbs.db
.idea/
.vscode/
*.log
